body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-rows: 2fr 5fr 2fr;
    height: 100vh;
}

#grid {
    grid-row-start: 2;
    height: 80vw;
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}

.btn-restart {
    font-size: 1.3em;
    grid-row-start: 3;
    margin: 0 auto;
    height: 2em;
    width: 7em;
    border-radius: 9999px;
    border: 0;
}
